In [1]:
import pandas as pd
import numpy as np
import quandl
from math import ceil

In [2]:
quandl.ApiConfig.api_key = open("key.txt",'r').read()
df = quandl.get("EOD/AAPL")

In [3]:
df.head()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2013-09-03,493.10,500.60,487.35,488.580,11854600.0,0.0,1.0,15.619650,15.857223,15.437510,15.476472,331928800.0
2013-09-04,499.56,502.24,496.28,498.691,12322600.0,0.0,1.0,15.824280,15.909173,15.720381,15.796753,345032800.0
2013-09-05,500.25,500.68,493.64,495.270,8441700.0,0.0,1.0,15.846136,15.859757,15.636755,15.688388,236367600.0
2013-09-06,498.44,499.38,489.95,498.220,12840200.0,0.0,1.0,15.788802,15.818578,15.519869,15.781833,359525600.0
2013-09-09,505.00,507.92,503.48,506.170,12167400.0,0.0,1.0,15.996600,16.089095,15.948451,16.033661,340687200.0

In [4]:
df['HL_PCT']=((df['Adj_High']-df['Adj_Low']) *100)/ df['Adj_Close']
df['PCT_change']=((df['Adj_Close']-df['Adj_Open'])*100 )/df['Adj_Open']
features=['Adj_Close','Adj_Volume','HL_PCT','PCT_change']

In [5]:
df.head()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume,HL_PCT,PCT_change
Date,,,,,,,,,,,,,,
2013-09-03,493.10,500.60,487.35,488.580,11854600.0,0.0,1.0,15.619650,15.857223,15.437510,15.476472,331928800.0,2.711941,-0.916650
2013-09-04,499.56,502.24,496.28,498.691,12322600.0,0.0,1.0,15.824280,15.909173,15.720381,15.796753,345032800.0,1.195129,-0.173953
2013-09-05,500.25,500.68,493.64,495.270,8441700.0,0.0,1.0,15.846136,15.859757,15.636755,15.688388,236367600.0,1.421447,-0.995502
2013-09-06,498.44,499.38,489.95,498.220,12840200.0,0.0,1.0,15.788802,15.818578,15.519869,15.781833,359525600.0,1.892738,-0.044138
2013-09-09,505.00,507.92,503.48,506.170,12167400.0,0.0,1.0,15.996600,16.089095,15.948451,16.033661,340687200.0,0.877176,0.231683

In [6]:
df.describe()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume,HL_PCT,PCT_change
count,1090.000000,1090.000000,1090.000000,1090.000000,1.090000e+03,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1.090000e+03,1090.000000,1090.000000
mean,194.564537,196.114735,193.016676,194.613130,3.605114e+07,0.015642,1.005505,26.367551,26.578236,26.152043,26.373196,1.931334e+08,1.649472,0.026796
std,160.562848,161.812898,159.407381,160.647536,2.194473e+07,0.175122,0.181735,6.614490,6.640870,6.578682,6.616455,1.112891e+08,0.972525,1.147303
min,90.000000,90.700000,89.470000,90.280000,5.704900e+06,0.000000,1.000000,14.189776,14.561974,14.166335,14.258197,4.590369e+07,0.438218,-6.633066
25%,108.042500,108.942500,106.972500,108.007500,2.120714e+07,0.000000,1.000000,22.170235,22.433992,21.948836,22.201030,1.133450e+08,1.033811,-0.603549
50%,121.585000,122.504950,120.640000,121.755000,3.248325e+07,0.000000,1.000000,25.781510,26.055842,25.511496,25.789823,1.681963e+08,1.456946,0.046380
75%,156.905000,157.809625,155.744975,156.515000,4.673778e+07,0.000000,1.000000,29.329099,29.541994,29.133958,29.362853,2.394642e+08,1.965879,0.705480
max,649.900000,651.260000,644.470000,647.350000,1.895606e+08,3.290000,7.000000,42.125703,42.628488,42.065561,42.440845,1.065523e+09,16.291699,8.696110

In [7]:
forecast_col = 'Adj_Close'
df.fillna(value=-99999, inplace=True)
forecast_out = int(ceil(0.01 * len(df)))
forecast_out

11

In [8]:
df['label'] = df[forecast_col].shift(-forecast_out)
df.tail(10)

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume,HL_PCT,PCT_change,label
Date,,,,,,,,,,,,,,,
2017-12-14,172.40,173.130,171.650,172.22,20476541.0,0.0,1.0,41.473766,41.649380,41.293340,41.430464,81906164.0,0.859366,-0.104408,NaN
2017-12-15,173.63,174.170,172.460,173.97,40169307.0,0.0,1.0,41.769663,41.899570,41.488200,41.851456,160677228.0,0.982928,0.195819,NaN
2017-12-18,174.88,177.200,174.860,176.42,29421114.0,0.0,1.0,42.070372,42.628488,42.065561,42.440845,117684456.0,1.326380,0.880604,NaN
2017-12-19,175.03,175.390,174.090,174.54,27436447.0,0.0,1.0,42.106457,42.193061,41.880324,41.988579,109745788.0,0.744815,-0.279952,NaN
2017-12-20,174.87,175.420,173.250,174.35,23475649.0,0.0,1.0,42.067966,42.200278,41.678248,41.942872,93902596.0,1.244623,-0.297364,NaN
2017-12-21,174.17,176.020,174.100,175.01,20949896.0,0.0,1.0,41.899570,42.344619,41.882730,42.101646,83799584.0,1.097080,0.482287,NaN
2017-12-22,174.68,175.424,174.500,175.01,16349444.0,0.0,1.0,42.022259,42.201241,41.978957,42.101646,65397776.0,0.527970,0.188917,NaN
2017-12-26,170.80,171.470,169.679,170.57,33185536.0,0.0,1.0,41.088858,41.250038,40.819183,41.033528,132742144.0,1.050009,-0.134660,NaN
2017-12-27,170.10,170.780,169.710,170.60,21498213.0,0.0,1.0,40.920461,41.084047,40.826640,41.040745,85992852.0,0.627198,0.293945,NaN
2017-12-28,171.00,171.850,170.480,171.08,16480187.0,0.0,1.0,41.136972,41.341454,41.011877,41.156217,65920748.0,0.800795,0.046784,NaN

In [9]:
df.isnull().sum()

Open           0
High           0
Low            0
Close          0
Volume         0
Dividend       0
Split          0
Adj_Open       0
Adj_High       0
Adj_Low        0
Adj_Close      0
Adj_Volume     0
HL_PCT         0
PCT_change     0
label         11
dtype: int64

In [10]:
#df.drop(df[df['label'].isnull()],axis=0)
df.dropna(inplace=True)
#df[df['label'].isnull()]
df.describe()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume,HL_PCT,PCT_change,label
count,1079.000000,1079.000000,1079.000000,1079.000000,1.079000e+03,1079.000000,1079.000000,1079.000000,1079.000000,1079.000000,1079.000000,1.079000e+03,1079.000000,1079.000000,1079.000000
mean,194.783397,196.339821,193.226504,194.830650,3.616541e+07,0.015802,1.005561,26.211841,26.422370,25.995760,26.217102,1.940894e+08,1.656876,0.026014,26.486693
std,161.365151,162.620808,160.204887,161.450437,2.201602e+07,0.176006,0.182659,6.464624,6.491479,6.426216,6.465709,1.114148e+08,0.974398,1.152606,6.553091
min,90.000000,90.700000,89.470000,90.280000,5.704900e+06,0.000000,1.000000,14.189776,14.561974,14.166335,14.258197,4.590369e+07,0.438218,-6.633066,14.719406
25%,107.890000,108.885000,106.820000,107.940000,2.122902e+07,0.000000,1.000000,22.155008,22.403055,21.926606,22.156376,1.140673e+08,1.042764,-0.608576,22.309832
50%,120.930000,121.810000,120.050000,120.920000,3.254140e+07,0.000000,1.000000,25.725833,25.999804,25.476831,25.761161,1.686692e+08,1.467824,0.046154,25.898341
75%,156.062500,157.145000,155.035000,155.940000,4.685678e+07,0.000000,1.000000,29.265468,29.437101,28.983835,29.223175,2.419393e+08,1.973109,0.717425,29.377662
max,649.900000,651.260000,644.470000,647.350000,1.895606e+08,3.290000,7.000000,42.125703,42.245173,42.014055,42.245173,1.065523e+09,16.291699,8.696110,42.440845

In [11]:
X=df[features]
y=df['label']
y

Date
2013-09-03    14.719406
2013-09-04    14.960780
2013-09-05    14.805882
2013-09-06    15.541726
2013-09-09    15.492944
                ...
2017-12-06    42.101646
2017-12-07    42.101646
2017-12-08    41.033528
2017-12-11    41.040745
2017-12-12    41.156217
Name: label, Length: 1079, dtype: float64

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=1)

In [13]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X_train_scaled=scaler.fit_transform(X_train)
X_test_scaled=scaler.transform(X_test)
#y_train_scaled=scaler.fit_transform(y_train)
#y_test_scaled=scaler.transform(y_test)
X_train_scaled

array([[-1.17397994,  0.97504442, -0.6251329 ,  0.13982117],
       [ 0.16236176, -0.49571546, -0.1700186 ,  0.5179137 ],
       [ 0.06335185, -0.0111684 ,  0.92456857, -1.23149526],
       ...,
       [ 1.22664634, -0.99729196, -0.88813104, -0.39161702],
       [-0.76425049, -0.20775448, -0.0180828 ,  0.43496084],
       [ 2.32677249, -0.90245088, -0.71744034, -0.05089577]])

In [14]:
from sklearn.linear_model import LinearRegression
lreg=LinearRegression()
lreg.fit(X_train_scaled,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
pred=lreg.predict(X_test_scaled)
lreg.score(X_test_scaled,y_test)

0.970147061838838

In [16]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,pred)

1.3565518414240176